/*
    General CSS
*/

html {
    box-sizing: border-box;
    background-size: cover;
}

body {
    background-color: #eee;
    font-family: 'Roboto', 'Arial';
    text-align: center;
    margin: 0;
}

p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 2rem;
    z-index: 100;
}

.hero {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h1 {
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 50px;
}